<!DOCTYPE html>
<html lang="en-us">

    <head>
        <!-- Bring in our bootstrap stylesheet -->
        <meta charset="UTF-8">
        <link rel="stylesheet"type="text/css" href="{{url_for('static', filename='hem_style.css')}}">
     </head>
    <body>
        <div class="col-md-12">
            <div class="box2">
              <h1><strong><j>Mars Hemispheres</j></strong></h1><br/>
              <img title ="Valles Marineris Hemisphere Enhanced"  src="{{url_for('static', filename='VallesMarineris hemisphere.png')}}" alt="Valles" width="300" height="300" mr-auto>
              <img title ="Cerberus Hemisphere Enhanced" src="{{url_for('static', filename='cerberus hemisphere.png')}}" alt="Cerberus" width="300" height="300" mr-auto><br/>
              <img title ="Schiaparelli Hemisphere Enhanced" src="{{url_for('static', filename='Schiaparelli hemisphere.png')}}" alt="Schiaparelli" width="300" height="300" mr-auto>
              <img title ="Syrtis Major Hemisphere Enhanced" src="{{url_for('static', filename='SyrtisMajor hemisphere.png')}}"alt="Syrtis" width="300" height="300" mr-auto>
       
            </div>
        </div>
        
    <body>
</html>
