<!DOCTYPE html>
<html lang="en-us">

    <head>
        <!-- Bring in our bootstrap stylesheet -->
        <meta charset="UTF-8">
    </head>
    <body>
        <div >
             <h1><j><strong>Mission to Mars</strong></j></h1>
        </div>
        <br/>
        <br/>
        <div class="col-md-12">
            <div class="box1">
            <h1>Latest Mars New</h1>
            <p>Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems 
                working together to gather up the first Mars rock samples for return to Earth.</p>
        </div>
        <br/>
        <br/>
        <div class="col-md-5" >
            <div class="box2">
                <img src="{{url_for('static', filename='Featured_image.png')}}"alt="featured image" width="400" height='300'>
        </div>
        <br/>
        <br/>
        <div class="col-md-10">
            <div class="box3">
                 <p>InSight sol 542 (2020-06-05) low -92.2ºC (-134.0ºF) high 0.0ºC (32.0ºF)\nwinds from the SW 
                at 5.2 m/s (11.6 mph) gusting to 18.3 m/s (41.0 mph)\npressure at 7.30 hPa'</p>
            </div>
        </div>
        <br/>
        <br/>
        <div class="col-md-5">
            <div class="box4">
            <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th></th>
                    <th>Value</th>
                  </tr>
                  <tr>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Equatorial Diameter:</th>
                    <td>6,792 km</td>
                  </tr>
                  <tr>
                    <th>Polar Diameter:</th>
                    <td>6,752 km</td>
                  </tr>
                  <tr>
                    <th>Mass:</th>
                    <td>6.39 × 10^23 kg (0.11 Earths)</td>
                  </tr>
                  <tr>
                    <th>Moons:</th>
                    <td>2 (Phobos &amp; Deimos)</td>
                  </tr>
                  <tr>
                    <th>Orbit Distance:</th>
                    <td>227,943,824 km (1.38 AU)</td>
                  </tr>
                  <tr>
                    <th>Orbit Period:</th>
                    <td>687 days (1.9 years)</td>
                  </tr>
                  <tr>
                    <th>Surface Temperature:</th>
                    <td>-87 to -5 °C</td>
                  </tr>
                  <tr>
                    <th>First Record:</th>
                    <td>2nd millennium BC</td>
                  </tr>
                  <tr>
                    <th>Recorded By:</th>
                    <td>Egyptian astronomers</td>
                  </tr>
                </tbody>
              </table>
        </div> 
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
 </html>



    
    